<h4>ショッピングカート</h4>

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td>
          <%= cart.item.name %>
        </td>
        <td>
          <%= cart.item.price %>
        </td>
        <td>
          <p>数量</p>
        </td>
         <td>
          <p>小計</p>
        </td>
        <td>
          <%= link_to "削除する", "#" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>