<h4>商品詳細</h4>

<div>
  <p>商品名</p>
  <%= @item.name %>

  <p>商品説明</p>
  <%= @item.explanation %>

  <p>ジャンル</p>

  <p>商品説明</p>
  <%= @item.price %>

  <p>販売ステータス</p>

  <%= link_to "編集する", edit_admins_item_path %>

</div>